
* {
    box-sizing: border-box
}
body {
    font-family: Verdana, sans-serif; margin:0
}
.mySlides {
    display: none
}
.mySlides img {
    vertical-align: middle;
    width:100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover,.slideshow-container .next:hover {
border-radius: 1em;
  background-color: white;
  color: black;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slideshow-container .prev,.slideshow-container .next {font-size: 11px}
}