.navbar {
  box-sizing: border-box;
}
nav {
  background: cornflowerblue;
  height: 80px;
}
label.logo {
  color: white;
  font-size: 2em;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.navbar img.logo{
    height: 80px;
    border-radius: 10px;
}
.navbar a{
    text-decoration: none;
}
nav ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 17px;
  text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
    background: rgb(57, 119, 233);
    transition: .5s;
}
nav .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
footer {
    background-color: #5291f0;    
    font-size: 20px;
    width: 100%;
    left: 0px;
    padding: 1px;
    bottom: 0px;
    height: 50px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#check {
  display: none;
}
@media screen and (max-width: 990px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  nav .checkbtn{
    display: block;
}
  ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: darkslategrey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media screen and (max-width: 430px) {
  label.logo {
    font-size: 1em;
    padding-left: 16px;
  }
}

